<div ng-controller="homeCtrl">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="maxwidht">
					<div class="col-lg-6">
						<h1>Välkommen till BRP</h1>
						<h4>På vår hemsida kommer du finna allt från foton och videor från våra senaste träffar, till vår facebook sida för kontakt. För att få reda på mer om vilka vi är besök vår members sida i meny listan ovan. Just nu är vi drygt 60 hårt engagerade medlemmar, dessa finner du under Riders i menyn ovan/ .BRP</h4>
						<br>
						<h4>Sugen på att bli medlem? Besök oss på vår facebook sida som du hittar nedan för kontakt med vår klubbchef/ .BRP</h4>
					</div>
					<div class="col-lg-3">
						<div class="">
							<h1>Uppdatering</h1>
							<h3>19 Sep 2016</h3>
							<li>Missa inte sonnys senaste video!</li>
							<li>Nu är säsongen snart slut,ta vara på den sista värmen och solen!</li>
							<br>
							<h3>15 Aug 2016</h3>
							<li>Missa inte vår senaste video!</li>
							<li>Imorgon är det dags för den årliga rundan!</li>
							<li>Nu är säsongen snart slut,ta vara på den sista värmen och solen!</li>
						</div>
					</div>
					<div class="col-lg-3">
						<h1>Ny webbshop!</h1>
						<p>Nu är äntligen Rasmus klar med webbshopen, klicka på bilden nedan 
						så tas du direkt till shoppen. Under veckan kommer det läggas till 
						så man kan redigera texten samt lägga till sitt egna namn / smeknamn 
						på bröstet.</p>
						<img src="public/img/hoodrygg.jpg" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
