<div ng-controller="photosCtrl">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="first">
				    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 ul">
				        <img class="img-responsive" src="public/img/rides/jul1.jpg">
				    </li>
				    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				        <img class="img-responsive" src="public/img/rides/jul2.jpg">
				    </li>
				    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				        <img class="img-responsive" src="public/img/rides/jul3.jpg">
				    </li>
				    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				        <img class="img-responsive" src="public/img/rides/lucia1.jpg">
				    </li>
				    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				        <img class="img-responsive" src="public/img/rides/lucia2.jpg">
				    </li>
				    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				        <img class="img-responsive" src="public/img/rides/lucia3.jpg">
				    </li>
				    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				        <img class="img-responsive" src="public/img/rides/lucia4.jpg">
				    </li>
				    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				        <img class="img-responsive" src="public/img/rides/lucia5.jpg">
				    </li>
				    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				        <img class="img-responsive" src="public/img/rides/feb1.jpg">
				    </li>
				    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				        <img class="img-responsive" src="public/img/rides/feb2.jpg">
				    </li>
				    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				        <img class="img-responsive" src="public/img/rides/feb3.jpg">
				    </li>
				    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				        <img class="img-responsive" src="public/img/rides/feb4.jpg">
				    </li>
				    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				        <img class="img-responsive" src="public/img/rides/feb5.jpg">
				    </li>
				    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				        <img class="img-responsive" src="public/img/rides/feb6.jpg">
				    </li>
				    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				        <img class="img-responsive" src="public/img/rides/feb7.jpg">
				    </li>
				  
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-body">
     		 </div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
				<!--<div class="col-lg-8">
					<h1>PHOTOS BITCH</h1>
				</div>
				<div class="col-lg-4">
					<h3>Photos of BRP</h3>
					<p>to the left you will see photos yoo</p>
				</div>-->